
.loginback {
    background: linear-gradient(to right bottom, #50A3A2 0%, #53E3A6 100%) repeat scroll 0% 0% transparent;
    background-color: transparent;
    background-image: linear-gradient(to right bottom, #50A3A2 0%, #53E3A6 100%);
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0% 0%;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: auto auto;

    width: 100%; 
    min-height: 400px;
    text-align: center;
    vertical-align: middle;
}

.loginback h1 {
    font-size: 40px;
    transition-duration: 1s;
    font-weight: 200;
}

form {
    padding: 20px 0px;
    position: relative;
    z-index: 2;
}

form input {
    outline: 0px none;
    border: 1px solid rgba(255, 255, 255, 0.4);
    background-color: rgba(255, 255, 255, 0.2);
    width: 250px;
    border-radius: 3px;
    padding: 10px 15px;
    margin: 0px auto 10px;
    display: block;
    text-align: center;
    font-size: 18px;
    color: #FFF;
    transition-duration: 0.25s;
    font-weight: 300;
}
form button {
    outline: 0px none;
    background-color: #FFF;
    border: 0px none;
    padding: 10px 15px;
    color: #53E3A6;
    border-radius: 3px;
    width: 250px;
    cursor: pointer;
    font-size: 18px;
    transition-duration: 0.25s;
}




/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}
 .navbar-header1 {
    z-index : 10;
    float : right;
    margin-right: 20px;
}
 
 .navbar-header1 > .navbar-brand1 {
    margin-right: 5px;
 }

 .article {
    text-align: center;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    max-width: 730px;
    border: 1px solid red;
 }

