<div class="article">
<p>Hello</p>
<div class="article-create">
<div class="article-content">
<p>Content:&nbsp;&nbsp;<input ng-model="content"/></p>
</div>
<div class="article-photo">
<div class="photo-area"/>
<input type="file" id="file-input"/>
<button ng-click="load()">Load photo</button>
</div>
<button ng-click="publish(content)">Publish</button>
</div>
<div class="list-Articles">

</div>
</div>