
  <div class="loginback">
  </br>
  </br>
    <h1 class="login-title">Welcome</h1>

    <form class="form">
      <input type="email" placeholder="Email" pattern="[^ @]*@[^ @]*" value="" ng-model="email"></input>
      <input type="password" placeholder="Password" ng-model="pwd"></input>
      <button id="login-button" type="submit" ng-click="login(email, pwd)">Login</button>
    </form>
  </div>
