<div class="loginback">
  </br>
  </br>
    <h1 class="login-title">Signup</h1>

    <form class="form">
      <input type="text" placeholder="Username" ng-model="username"></input>
       <input type="email" placeholder="Email" pattern="[^ @]*@[^ @]*" value="" ng-model="email"></input>
      <input type="password" placeholder="Password" ng-model="pwd"></input>
      <button id="login-button" type="submit" ng-click="signUp(username, email, pwd)">SignUp</button>
    </form>
  </div>
